{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Blog</title>
    </head>
    <body>
      <div class="wrapper">
        <header class="page-header" style="display: flex; justify-content: space-between; align-items: center;">
          <div  class = "tyt" style="display: flex">
            <div>
              <h1>Fitness - blog</h1>
            </div>
            <div>
              <a href="{% url 'first_page' %}"><button class="first_button">Home</button></a>
            </div>
          </div>
          <div class = "mym" style="display: flex;">
            <div> 
              <a href="{% url 'login' %}"><h2>Log in</h2></a>
            </div>
            <div class = "vl"></div>
            <div class = "fl"></div>
            <div>
              <a href="{% url 'register' %}"><h2>Registration</h2></a>
            </div>
          </div>
        </header>
          <div class="imaged">
            {% if messages %}
        	      {% for message in messages %}
          	    <div class="alert alert-{{ message.tags }}">
            	  {{ message }}
          	    </div>
        	      {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
          </div>
        <footer class="page-ender" style="display: flex; justify-content: space-between; align-items: center;">
          <div  class = "kyk" style="display: flex">
            <div class = "creator">
              <p>Creator</p>
            </div>
            <div class="social_instagram">
              <a href="https://www.instagram.com/vremby_4595/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
            </div>
            <div class="social_telegram">
              <a href="https://t.me/VRem" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
            </div>
          </div>
          <div  class = "lyl" style="display: flex">
            <div>
              <a href = "{% url 'second_page' %}" class = "fotter", target = "blank"><h1>All Posts</h1></a>
            </div>
          </div>
          <div  class = "ryr" style="display: flex">
            <div>
              {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="gradient-button">Add your post</a>
              {% endif %}
            </div>
          </div>
        </footer>
      </div>
    </body>
</html>