.imaged h1{
    color: #3358ff;
}

.imaged h2{
    color: #33FFEC;
    font-size: 20px;
    font-style: oblique;
}

.page-header {
    background-image: url('istockphoto-1226478926-612x612.jpg');
    border: 1px solid black;
    height: 90px;
    display: flex;
    flex-wrap: nowrap;
    padding: 1em;
}

.page-header h1 {
    color: black;
    font-size: 36pt;
    text-decoration: none;
}

.page-ender {
    background-image: url('istockphoto-1226478926-612x612.jpg');
    border: 1px solid black;
    height: 90px;
    padding: 1em;
}
.page-ender h1 {
    color: black;
    font-size: 36pt;
    text-decoration: none;
}

h1 {
    font-family: 'Lobster', cursive;
    margin-bottom: auto;
}

.page-header h2 {
  font-family: 'Lobster', cursive;
  font-size: 25pt;
  text-decoration: none;
  color: pink;
}

.imaged {
    background-image: url('dark-background.jpg');
    min-height: calc(100vh - 180px);
    flex: 1 1 auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.social_instagram {
    color: white;
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: black;
    border: 1px solid black;
    border-radius: 24px;
    padding-top: 5px;
}

.social_telegram {
    color: white;
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: black;
    border: 1px solid black;
    border-radius: 24px;
    padding-top: 5px;
}
.creator{
  color: black;
  text-shadow: rgb(89, 0, 255) 0 -2px;
  font-size: 20px;
}

.first_button {
    width: 70px;
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    margin-left: 15px;
    margin-top: 10px;
}

.first_button {border-radius: 50%;}

.ppp {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px 30px 90px;
}

.rrr {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-top: 30px;
}

.date{
    color:  white;
    padding-left: 90%;
}

.post{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.post p{
    color: white;
    font-size: 20px;
    font-style: oblique;
}

.gradient-button {
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #035770 0%, #3c29b4 51%, #ad07ee 100%);
    background-size: 100% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
  }

  .fotter{
    display: flex;
    position: relative;
    margin-top: px;
  }
  .gradient-button:hover {
    background-position: right center;
  }

  .post-form{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
  }
  .poss{
    margin-top: 30px;
    margin-left: 50px;
  }

  .hello{
    margin-top: 50px;
    margin-left: 15%;
    margin-right: auto;
  }
  .hello h1{
    font-size: 50px;
    margin-left: 350px;
    width: 60%
    
  }
  .hello h2{
    font-size: 30px; 
    width: 80%;
    text-align: center;
    text-shadow: 1px 1px 2px pink;
  }
  .hello h3{
    color: #3358ff;
    font-size: 50px;
    margin-left: 150px;
    font-family: 'Lobster', cursive;
    width: 60%
  }

  .tetx-shadow{
    text-shadow: red 0 -2px;
  }

  .p{
    padding: 6px;
    position: relative;
    top: -55px;
    left: 500px;
  }

.carusel{
  width: 700px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.actions{
  padding-left: 90%;
  padding-bottom: 20px;
}

a {
  color: hsl(160, 23%, 95%) !important;
  text-decoration: none;
}

.border-bottom{
  margin-top: 60px;
}

.crisp{
  width: 700px;
}

.crisp_login{
  width: 700px;
}

.log{
  margin-top: 60px;
  margin-bottom: 50px;
}

.vl{
  border-left: 6px solid black;
  height: 40px;
  padding-left: 10px;
}

.fl{
  border-left: 6px solid black;
  height: 40px;
}